/* FONTS VARIABLES */

$base-font-size: 16px;
$font-family-base: 'Montserrat', sans-serif;
// $font-family-base: $ff-montserrat-regular, sans-serif;

$font-family-second: 'Roboto', sans-serif;

/* COLORS VARIABLES */
$primary:    #FF9B17 !default;
$text-color: #444444;

$global-bd-radius: 9px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$header-height: 90px;
