.reason-section {

  .card {
    // max-width: 320px;

    &__number {

      position: absolute;
      top: -#{rem(18px)};
      left: calc(50% - 18px);
      text-align: center;
      line-height: rem(36px);
      width: rem(36px);
      height: rem(36px);
      font-size: rem(18px);
      color: #ffffff;
      font-weight: 700;
      border-radius: 50%;
      background-color: $primary;

      @include media-breakpoint-down(lg) {
        font-size: 1rem;
      }
    }

    .card-body {
      min-height: 185px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: rem(20px);
      text-align: center;
      font-size: rem(14px);

      @include media-breakpoint-down(sm) {
        min-height: 125px;
      }
    }

    &__title {
      font-size: rem(14px);
    }

    &__text {
      margin-bottom: 0;
    }
  }
}
