::selection {
  background-color: $primary;
  color: #fff;
}

html {
  font-size: $base-font-size;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: $font-family-base;
  color: $text-color;
}

main {
  flex: 1;
}

section {
  padding: rem(60px) 0;

  &.is-full-screen {
    min-height: 100vh;
  }
  &.is-hero-bg {
    color: #fff;
  }

  &:not(.is-hero-bg) {
    @include media-breakpoint-down(md) {
      padding: 2rem 0;
    }
  }
}

.mw-500 {
  max-width: 500px;
}

.flex-1 {
  flex: 1;
}

.is-primary-color {
  color: $primary;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: rem(36px);
  font-weight: 700;

  @include media-breakpoint-down(xs) {
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.66rem;
  }
}

.section-subtitle {
  font-size: rem(24px);
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-down(xs) {
    br {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.16rem;
  }
}

.arrow-link {
  display: flex;
  align-items: center;
  color: #444444;
  font-size: rem(14px);
  font-weight: bold;
  transition: color 0.2s ease-in-out;

  &::after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url('../../img/icons/arrow right.svg') no-repeat;
    background-size: contain;
    margin-left: rem(5px);
  }
}

.is-shadow-lg {
  box-shadow: 0 0 26px 0 rgba(0,0,0,.2);
}

.is-shadow-md {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.is-primary-shadow {
  box-shadow: 0 0 12px 0 $primary;
}

.z-10 {
  z-index: 10;
}