
i.icon {
  display: inline-block;
  width: rem(24px);
  min-width: rem(24px);
  height: rem(24px);
  background-size: contain;
  background-repeat: no-repeat;

  &-phone {
    background-image: url(../../img/icons/phone.svg);
  }

  &-location {
    background-image: url(../../img/icons/location.svg);
  }

  &-email {
    background-image: url(../../img/icons/mail.svg);
  }

  &-site {
    background-image: url(../../img/icons/site.svg);
  }

  &.social {
    width: rem(32px);
    min-width: rem(32px);
    height: rem(32px);
  }

  &-facebook {
    background-image: url(../../img/icons/facebook.svg);
  }

  &-vk {
    background-image: url(../../img/icons/vk.svg);

  }

  &-youtube {
    background-image: url(../../img/icons/youtube.svg);

  }

  &-instagram {
    background-image: url(../../img/icons/instagram.svg);
  } 

  &-star {
    width: rem(13px);
    min-width: rem(13px);
    height: rem(13px);
    background-image: url(../../img/icons/star-transparent.png);

    &.is-filled {
      background-image: url(../../img/icons/star-filled.png);
    }
  }

  &-checked {
    background-image: url(../../img/icons/check-big.svg);
  }

  &.is-large {
    width: rem(115px);
    min-width: rem(115px);
    height: rem(115px);
  }

  &-close {
    background-image: url(../../img/icons/close.svg);
  }

}
