.nav-pills {
  .nav-link {
    background-color: transparent !important;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border: 2px solid transparent;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover,
    &.active {
      color: $primary;
    }

    &.active {
      border-color: $primary;
    }
  }

  .is-large {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $spacer * 6;
    padding: 0;
    border: 4px solid transparent;
    border-radius: 9px !important;
    box-shadow: 0 0 26px 0 rgba(0,0,0,0.2);
    font-size: rem(22px);
  }
}

.nav-tabs {
  border-bottom: 1px solid #D8D8D8;
  border-width: 0px 0px 1px 0px;
  
  .nav-link {
    border-width: 0px 0px 2px 0px;
    border-color: transparent;
    color: $text-color;
    font-size: rem(18px);
    letter-spacing: .1em;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: darken($text-color, 30%);
    }
    
    &.active {
      text-shadow: 0 0 1px darken($text-color, 30%), 0 0 1px darken($text-color, 30%);
      border-color: $primary;
    }
  }
}