.l-footer {
  background-color: $primary;
  font-size: rem(12px);
  padding: rem(3px) 0;
  color: #ffffff;

  &__logo {
    img {
      width: 78px;
    }
  }

  .l-footer__pol {
  	font-size: rem(12px);
  	padding: rem(3px) 0;
  	color: #ffffff;
  }
}